@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|EB+Garamond|Raleway);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../../../sass/screen.scss */
.no-padding {
  padding: 0;
}

/* line 22, ../../../sass/screen.scss */
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* line 29, ../../../sass/screen.scss */
body.homepage {
  background: url(/assets/img/home2.jpg) no-repeat center center fixed transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 37, ../../../sass/screen.scss */
.navbar {
  background: #f1c40f;
}
/* line 40, ../../../sass/screen.scss */
.navbar .navbar-brand {
  margin-top: -15px;
}

/* line 45, ../../../sass/screen.scss */
.clear {
  clear: both;
}

/* line 49, ../../../sass/screen.scss */
.homepage-photo-container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
/* line 54, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage {
  background: none;
  height: 100%;
}
/* line 58, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid {
  height: 100%;
  padding: 0;
}
/* line 62, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .title {
  height: 20%;
}
/* line 65, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .title h1 {
  padding-top: 10%;
  font-size: 4em;
  text-align: center;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}
/* line 76, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .title img {
  display: block;
  height: 120%;
  margin: 0 auto;
}
/* line 83, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form {
  height: 80%;
}
/* line 86, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row {
  height: 40%;
  width: 100%;
  margin: 0;
  padding-top: 15%;
  display: block;
}
/* line 93, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 {
  cursor: pointer;
  text-align: center;
  min-height: 100%;
}
/* line 98, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer {
  height: 100px;
  margin-bottom: 30px;
  display: inline-block;
}
/* line 103, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer .pieBackground {
  background-color: transparent;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 112, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer .pieBackground.full {
  background-color: white;
}
/* line 116, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer .pie {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 50px, 100px, 0px);
}
/* line 125, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer .hold {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 100px, 100px, 50px);
}
/* line 133, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer #thirty-minutes .pie {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 137, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer #two-hours .pie {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 141, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 .pieContainer #six-hours .pie {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 146, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 span.time {
  text-align: center;
  font-size: 1.3em;
  color: white;
  text-shadow: 2px 1px 1px black;
}
/* line 152, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid form .row .col-xs-6 span.time.two-hours {
  margin-left: 15px;
}

/* line 162, ../../../sass/screen.scss */
.photo-container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
/* line 167, ../../../sass/screen.scss */
.photo-container .photo {
  height: 100%;
  width: 100%;
  background: url(/assets/img/home_blur.jpg) no-repeat center center fixed transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
}
/* line 179, ../../../sass/screen.scss */
.photo-container .container-fluid {
  padding: 0;
  height: 100%;
}
/* line 183, ../../../sass/screen.scss */
.photo-container .container-fluid #catchphrase {
  color: white;
  position: absolute;
  z-index: 500;
  font-size: 2.5em;
  padding: 10px 20px;
  line-height: 1.5em;
  width: 70%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-shadow: 0px -1px 10px black;
}

/* line 199, ../../../sass/screen.scss */
.description-container {
  background: #f1c40f;
  padding: 20px 30px;
}
/* line 205, ../../../sass/screen.scss */
.description-container .container-fluid h1 {
  font-family: 'EB Garamond', serif;
  color: #f1c40f;
  font-size: 2.5em;
  color: white;
  display: inline;
  float: left;
}
/* line 214, ../../../sass/screen.scss */
.description-container .container-fluid .time-travel {
  font-style: italic;
  float: right;
  margin-top: 0.7em;
  font-size: 1.2em;
}
/* line 221, ../../../sass/screen.scss */
.description-container .container-fluid #description {
  color: #927608;
  margin: 20px 0;
  line-height: 1.5em;
  text-align: justify;
}
/* line 228, ../../../sass/screen.scss */
.description-container .container-fluid button#letsGo {
  background: #2980b9;
  border: 0;
  padding: 10px 20px;
  color: white;
  font-size: 1.2em;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border: 3px solid #a9d1ec;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

@-webkit-keyframes hue {
  /* line 245, ../../../sass/screen.scss */
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  /* line 249, ../../../sass/screen.scss */
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
