/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Raleway);
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../../../sass/screen.scss */
.no-padding {
  padding: 0;
}

/* line 20, ../../../sass/screen.scss */
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* line 27, ../../../sass/screen.scss */
body.homepage {
  background: url(/assets/img/home_blur.jpg) no-repeat center center fixed transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 35, ../../../sass/screen.scss */
.navbar {
  background: #c0392b;
}
/* line 38, ../../../sass/screen.scss */
.navbar .navbar-brand {
  margin-top: -15px;
}

/* line 43, ../../../sass/screen.scss */
.homepage-photo-container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
/* line 48, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage {
  background: none;
  height: 100%;
}
/* line 52, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid {
  height: 100%;
}
/* line 55, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .title {
  height: 20%;
}
/* line 58, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .title h1 {
  padding-top: 10%;
  font-size: 4em;
  text-align: center;
}
/* line 65, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .row {
  height: 40%;
  width: 100%;
}
/* line 69, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .row .col-xs-6 {
  padding: 15% 15%;
  cursor: pointer;
}
/* line 73, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .row .col-xs-6 span.time {
  text-align: center;
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 1px 1px black;
}
/* line 79, ../../../sass/screen.scss */
.homepage-photo-container .photo-homepage .container-fluid .row .col-xs-6 span.time.two-hours {
  margin-left: 15px;
}
/* line 87, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer {
  height: 100px;
  margin-bottom: 15px;
}
/* line 91, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer .pieBackground {
  background-color: #c0392b;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 99, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer .pieBackground.full {
  background-color: white;
}
/* line 103, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer .pie {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 50px, 100px, 0px);
}
/* line 112, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer .hold {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 100px, 100px, 50px);
}
/* line 120, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer #thirty-minutes .pie {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 124, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer #two-hours .pie {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 128, ../../../sass/screen.scss */
.homepage-photo-container .pieContainer #six-hours .pie {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 134, ../../../sass/screen.scss */
.photo-container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
/* line 139, ../../../sass/screen.scss */
.photo-container .photo {
  height: 100%;
  width: 100%;
  background: url(/assets/img/home_blur.jpg) no-repeat center center fixed transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
}
/* line 151, ../../../sass/screen.scss */
.photo-container .container-fluid {
  padding: 0;
  height: 100%;
}
/* line 155, ../../../sass/screen.scss */
.photo-container .container-fluid #catchphrase {
  color: white;
  position: absolute;
  z-index: 500;
  font-size: 2.6em;
  padding: 10px 20px;
  line-height: 1.5em;
  width: 70%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-shadow: 0px -1px 10px black;
}
